.bgimg3 {
	background-image: url('https://live.staticflickr.com/7592/16888464777_0073470e81_b.jpg');
	background-size: cover;
	height: 200vh;
}
.headfirst {
	color: white;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 30px;
	padding: 25px;
}
.bgcarosuelcard {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 100px;
	margin-top: 15px;
}
.cardcon {
	padding: 20px;
}
.headsecond {
	color: blue;
	font-family:'Roboto';
	font-weight: bold;
	font-size: 20px;
}
.paraline {
	color: #413fe8;
	font-family: 'Roboto';
	font-size: 13px;
}